/* the --color-header and others are CSS variables, which we access later. 
*/

HTML {
    --color-header: #007ea9;
    /* color for H1-H6 and others. was deepskyblue but poor contrast. */
    --color-hilite: #b50000;
    /* was red, but this avoids WAVE contrast errors */
    /* --color-focus: #56B929; */
    --color-focus: #57dbec;

    --font-family: Verdana;
    font-family: var(--font-family)
}

/* For flashed messages; make them stand out using red and italics */

#messages {
    color: var(--color-hilite);
    font-style: italic;
    margin: 10px;
}



h2,
h3 {
    color: var(--color-header);
}


/* for a simple navbar. Talk to Scott if you want drop-downs. */
nav ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    /* padding-top: 25px; */
    background-color: #03115b;
    /* Set your desired background color */
}


nav li {
    display: inline-block;
    color: white;
    font-family: Verdana;
}

nav a {
    display: block;
    padding: 15px 20px;
    /* Adjust the padding as needed */
    text-decoration: none;
    color: white;
    /* Set your desired text color */
    font-family: Verdana;
}

/* Style the logout link differently */
nav li:nth-last-child(2) a {
    font-size: 14px;
    /* Set a smaller font size for the logout link */
}

/* Add hover effect */
nav a:hover {
    background-color: #555;
    /* Set your desired hover background color */
}


/* because of the margin trick, this can only be used for the last element */

nav li.right {
    margin-left: auto;
}

nav button:hover,
button:focus,
nav a:hover,
nav a:focus {
    background-color: var(--color-focus);
}

.message {
    float: right;
    margin: 20px auto; 
}

input[type="text"],
textarea,
select {
    width: 80%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

#datepicker {
    margin-bottom: 20px;
    width: 350px;
}

/* #description {
    display: block;
} */

h2 {
    font-size: 24px;
    color: rgb(82, 120, 236);
}

body {
    padding: 0px;
}

.body_wrapper {
    padding: 30px;
}

button {
    background-color: #c8fcca;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
}


.container {
    display: inline-block;
    /* Make the container inline so elements appear on the same line */
}

.stream-container {
    padding: 20px;
    background-color: rgb(221, 241, 248);
    border: 2px solid rgb(134, 227, 253);
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;

}

.post-container {
    padding: 20px;
    padding-bottom: 10px;
    background-color: rgba(161, 228, 250, 0.744);
    border: 2px solid rgb(7, 113, 143);
    border-radius: 8px;
    margin-top: 20px;
    margin-left:10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    justify-content: space-between;
    width: 98%;



}

@media only screen and (max-width: 768px) {
    .stream-container {
        width: 80%;
    }
}

.inline {
    display: inline-block;

}


.tagged {
    /* justify-content: right; */
    padding: 5px;
    background-color: blueviolet;
}

.post-line {
    display: block;
}

.custom-badge {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 8px;
    padding-left: 8px;
    color: white;
    background-color: rgb(3, 128, 163);
    border-radius: 10px;
}

h5 {
    margin-left: 12px;
}

a {
    text-decoration: none;
    color: darkblue;
}

.badge {
    float: right;
}

nav {
    width: 100%;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    margin-bottom: 20px;
}

.filter {
    padding: 5px;
    width: 900px;
    border: 2px solid rgb(46, 4, 88);
    border-radius: 5px;
}

option[name="drop"] {
    color: white;
}

.dropdown-menu [name="datedrop"] {
    height: 30px;
    margin-bottom: 5px;
    align-items: center;
}

.logout {
    font-size: 10px;
}

button[type="submit"] {
    background-color: darkblue;
}

.view {
    margin-left: 5px;
    color: rgb(22, 10, 154);
    font-size: 18px;
}

h1 {
    color: #333;
}

a {
    text-decoration: none;
    color: #007bff;
}

form {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #333;
}

.login {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"] {
    width: 350px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* li {
    color: #dc3545;
} */


.comment-container {
    background-color: #dddbdb;
    border: 2px gray;
    width: 60%;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;

}

.user-comment {
    align-self: flex-end;
    /* display user comment to the right */
    background-color: #ebefef;
    border: white 2px;
    padding: 8px;
    border-radius: 8px;
    margin: 8px 0;
    min-width: 200px;
    width: auto;
}

.other-comment {
    align-self: flex-start;
    /* Move other comments to the left */
    background-color: #88e7df;
    padding: 8px;
    border-radius: 8px;
    margin: 8px 0;
    min-width: 200px;
}

.comment-form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.comment-form form {
    display: flex;
    flex-direction: column;
}

.comment-form label {
    margin-bottom: 8px;
}

.comment-form textarea {
    resize: vertical;
    min-height: 20px;
    margin-bottom: 16px;
    padding: 8px;
}

.comment-form input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.comment-form input[type="submit"]:hover {
    background-color: #45a049;
}

.rid-bottom {
    margin-bottom: 1px;
}

.accounts {
    color: black;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: auto;

    display: flex;

    align-items: center;
    text-align: center;
}

.accounts .email-address,
.accounts .major1,
.accounts .major2_minor {
    color: #616161;
}


.profile-picture {
    width: 200px;
    height: auto;
    border-radius: 10%;
}

.profile-container {
    border: 2px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    width: 500px;
    @media (min-width: 800px) {
        width: 50%;
    }
  }

.accounts-picture {
    width: 50px;
    height: auto;
    border-radius: 10%;
}

.aligned-table {
    display: table;
    border-collapse: collapse;
    width: 90%;
    font-family: Arial, sans-serif;
}

.aligned-table-row {
    display: table-row;
}

.aligned-table-cell {
    display: table-cell;
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.aligned-table-header {
    font-weight: bold;
    background-color: #f2f2f2;
}

.fixed {
    width: 25%;
    display: inline;
    align-items: center;
}

.custom-badge {
    background-color:#03115b;
}

.badge.badge-pill.badge-primary {
    background-color:#092199;
}

.badge.badge-info {
    background-color:#03515c
}

.btn.btn-primary.dropdown-toggle {
    background-color:#0056b3;
}

.badge.edit {
    font-size: 15px;
    margin-bottom: 5px;
}

.profile-form {
    width:500px; 
    margin-top: 5px; 
    margin-left: 50px;
}

.edit-comment {
    padding:5px;
    background-color: rgb(3, 104, 60);
}

.page-container{
    display: flex;
}