{% extends "base.html" %}

{% block content %}
  <h1>Accounts</h1>
  <ul>
    {% for user in all_users %}
      <li class="accounts">
        {% if user.profile_pic %}
          <img class="accounts-picture" src="{{url_for('static', filename='uploads/'+user.profile_pic)}}"
                                    alt="{{ user.name }}'s profile picture">
          &nbsp &nbsp
          {% else %}
          <img class="accounts-picture" src="{{ url_for('static', filename='uploads/10.jpeg')}}"
                                      alt="profile picture">
          &nbsp &nbsp
        {% endif %}
        <span class="fixed">{{ user.name}} </span>  
        <span class="fixed">{{ user.email_address }}</span>  
        <span class="fixed">{{ user.major1 }} &nbsp &nbsp &nbsp </span>
        {% if major2_minor %} 
          <span class="fixed"> & {{ user.major2_minor }}</span>
        {% endif %}
        <a href="{{url_for('profile', id=user.id)}}" style="color:rgb(3, 26, 109)">View User's Profile</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

