{% extends "base.html" %}
{% block head_stuff %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
  integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

{% endblock head_stuff %}

{% block content %}
  <h1>Accounts</h1>

  <form method="get" action="{{url_for('accounts')}}" class="filter">

    <div>
  
      <label for="search_query" class="inline" style="margin-right:10px;">Search</label>
      <input type="text" class="search-input" id="search_query" name="search_query" placeholder="Keyword Search..." value="{{search}}">
      <button class="btn btn-success">Search</button>
  
    </div>
  
    <!-- <input type="submit" value="Filter" /> -->
  </form>

  <ul>
    {% for user in all_users %}
      <li class="accounts">
        {% if user.profile_pic %}
          <img class="accounts-picture" src="{{url_for('static', filename='uploads/'+user.profile_pic)}}"
                                    alt="{{ user.name }}'s profile picture">
          &nbsp &nbsp
          {% else %}
          <img class="accounts-picture" src="{{ url_for('static', filename='uploads/10.jpeg')}}"
                                      alt="profile picture">
          &nbsp &nbsp
        {% endif %}
        <span class="fixed">{{ user.name }} </span>  
        <span class="fixed">{{ user.email_address }}</span>  
        <span class="fixed">{{ user.major1 }} &nbsp &nbsp &nbsp </span>
        {% if major2_minor %} 
          <span class="fixed"> & {{ user.major2_minor }}</span>
        {% endif %}
        <a href="{{url_for('profile', id=user.id)}}" style="color:rgb(3, 26, 109)">View User's Profile</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

