<!doctype html>
<html lang='en'>
<!-- @authors: Ashley, Emily, Louisa, Madelynn -->

<!--Didn't include bootstrap for base because otherwise, it negatively affects
CSS for the login and join forms-->
<head>
    <meta charset='utf-8'>
    <!-- for mobile-friendly pages -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=author content="">
    <title>{{ title }}</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
    {% block head_stuff %} {% endblock %}
  
</head>

<body>
            
{% block nav %}
<nav>
  <ul>
    <!-- Display main pages if the user is logged in -->
    {% if 'logged_in' in session and session['logged_in'] %}

    {% if session['name'] %}
    <li><a href="{{url_for('main')}}">Home</a></li>
    <li><a href="{{url_for('stream')}}">Stream</a></li>
    <li><a href="{{url_for('create_post')}}">Create a Post</a></li>
    <li><a href="{{ url_for('logout') }}" class="logout">Logout</a></li>

    <li class="message">Welcome, {{ session['name'] }}!</li>
    {% else %}
    <li><a href="{{ url_for('logout') }}" class="logout">Logout</a></li>

    <li class="message">Welcome, {{ session['username'] }}!</li>

    {% endif %}

    {% else %}
    <li><a href="{{url_for('login')}}">Login</a></li>
    <li class="message">You are not logged in</li>
    {% endif %}

  </ul>
</nav>
{% endblock %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="messages">
  {% for msg in messages %}
  <p>{{msg}}</p>
  {% endfor %}
</div>
{% endif %}
{% endwith %}

{% block header %}  {% endblock header %}

{% block content %}
<h1>Welcome!</h1>
{% endblock %}

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  {% block end_scripts %}
  {% endblock %}
  
</body>

</html>
