{% extends "base.html" %}
<!-- display_post.html -->


{% block content %}

<div class="post-container" style="width: 60%">

  <div class="post-block">
    <p class="inline">Posted by {{post.studentname}} {% if post.timestamp %}<em>{{post.timestamp}}</em>{% endif %}</p>
    {% if post.major1 %}<span class="badge badge-pill badge-primary">{{post.major}}</span>{% endif %}
    {% if post.major2_minor %}<span class="badge badge-pill badge-primary"
      style="margin-left:12px;">{{post.major2_minor}}</span>
    {% endif %}

  </div>

  <div class="post-block">
    <span class="custom-badge">{{post.tag}}</span>
    <h5 class="inline">{{post.title}}</h5>
  </div>

  <p>{{post.description}}</p>
  <div class="post-block">
    <p class="inline">{% if post.date %}<b>Tentative Date:</b> {{post.date.strftime('%A, %m/%d')}} {% endif %}</p>
    <p class="inline" style="margin-left: 20px;">{% if post.location %}<b>Location:</b> {{post.location}} {% endif %}</p>
    <p class="inline" style="margin-left: 20px;">{% if post.on_campus %}<b>On-Campus:</b> {{post.on_campus}} {% endif %}</p>

    {% if post.professor %}<span class="badge badge-info">{{post.professor}} </span>{% endif %}
    {% if post.class %}<span class="badge badge-info" style="margin-right:8px;">{{post.class}} </span>{% endif %}

    <div style="display: block;">
      {% if phnum_request %}
      <p style="color:rgb(41, 13, 124)">You requested their phone number</p>
      {% else %}
      <button class="btn btn-primary"><a style="color: rgb(233, 246, 250);"
          href="{{ url_for('request_ph', pid=post.pid) }}">
          Request Phone Number</a></button>
      {% endif %}
    </div>
  </div>


</div>

<div class="comment-container" style="margin-top:10px;">
  <h5>Comments</h5>
  {% for comment in comments %}
  {% if comment.sid == session['id'] %}

  <div class="user-comment">
    <p class="rid-bottom">{{ comment.name }} <em>{{comment.timestamp}}</em></p>
    <p class="rid-bottom">{{ comment.description }}</p>
    <button class="edit-comment"><a style="color:azure;"
        href="{{ url_for('update_comment', cid=comment.cid) }}">Edit</a></button>
  </div>

  {% else %}
  <div class="other-comment">
    <p class="rid-bottom">{{ comment.name }} <em>{{comment.timestamp}}</em></p>
    <p class="rid-bottom">{{ comment.description }}</p>
  </div>
  {% endif %}
  {% endfor %}
  <form id="commentForm" method=post action="{{ url_for('display_post', pid=post.pid) }}">
    <div class="form-group">
      <label for="comment" style="display: block;">Comment:</label>
      <textarea id="comment" name="comment" required></textarea>
    </div>

    <input type="submit" value="Post Comment">
  </form>
</div>
</div>


{% endblock %}