{% extends "base.html" %}

<!-- login.html -->

{% block content %}
<body>

    <h1>Login</h1>

    <form id="Login" action="{{ url_for('login') }}" method="post">
        <label for="username">Email Address:</label>
        <input type="text" class="login" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="text" class="login" id="password" name="password" required>
        <br>
        <input type="submit" class="login" value="Login">
        <a href = "{{url_for('join')}}"> New user? Join here </a>
    </form>

</body>
</html>

{% endblock %}