{% extends "base.html" %}
{% block head_stuff %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
  integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

{% endblock head_stuff %}


{% block content %}

<button class="btn btn-success" style="background-color: green;"><a href="{{ url_for('create_post') }}" style="color:white; ">Create a Post</a></button>


<h2 name="stream" style="margin-top:20px">Stream</h2>

<form method="post" action="{{url_for('stream')}}" class="filter">

  <div>

    <label for="search_query" class="inline" style="margin-right:10px;">Search</label>
    <input type="text" class="search-input" id="search_query" name="search_query" placeholder="Keyword Search..." value="{{search}}">
    <button class="btn btn-success">Search</button>

  </div>


  <div class="btn-group">
    <label for="type" class="inline" style="margin-right:10px;">Type</label>
    <select id="typeDropdown" type="button" name="type" style="height:35px; align-items:center;" 
    class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
      <div class="dropdown-menu">
      <option class="dropdown-item" name="drop" value="">Any Type</option>
        <option class="dropdown-item" name="drop" value="discuss_hw">Discuss HW</option>
        <option class="dropdown-item"  name="drop" value="social">Social</option>
        <option class="dropdown-item" name="drop" value="study_session">Study Session</option>
      </div>
    </select><br>
  </div>

  <div class="btn-group">
    <label for="majors" class="inline" style="margin-left:10px; ">Major</label><br>
    <select id="majorDropdown" type="button" name="major" style="height:35px; align-items:center; margin-left: 10px; margin-right: 15px;" 
    class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
      <div class="dropdown-menu" name="majordrop">
      <option class=" dropdown-item" name="drop" value="">Any Major</option>
      {% for i in majors %}
      <option value="{{i[0]}}">{{ i[1] }}</option>
      {% endfor %}
      </div>
    </select><br>
  </div>


  <div class="btn-group">
    <label for="tentative-date" class="inline"">Date</label><br>
    <select id="dateDropdown" type="button" name="dateorder" style="height:35px; align-items:center; margin-left: 10px; margin-right: 15px;" 
    class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
      <div class="dropdown-menu" name="datedrop">
      <option class=" dropdown-item" name="drop" value="">Any Tentative Date</option>
        <option class="dropdown-item" name="drop" value="early">Earliest to Latest</option>
        <option class="dropdown-item"  name="drop" value="late">Latest to Earliest</option>
      </div>
    </select><br>
  </div>

  <!-- <input type="submit" value="Filter" /> -->
</form>

<div class="stream-container">
  {% if posts %}
  {% for post in posts %}
  <div class="post-container">
    <div class="post-block">
      <p class="inline">Posted by {% if post.studentname %}{{post.studentname}}{% else %} Unknown {% endif %}
        {% if post.timestamp %}<em>{{post.timestamp}}</em>{% endif %}</p>
      {% if post.major %}<span class="badge badge-pill badge-primary" >{{post.major}}</span>{% endif %}
      {% if post.major2_minor %}<span class="badge badge-pill badge-primary"
        style="margin-right:10px;">{{post.major2_minor}}</span>{% endif %}
      {% if post.id == session['id'] %}
      <span class="badge edit"><a href="{{url_for('update_post', pid=post.pid)}}">Edit Post</a></span>
      {% endif %}
      <span><a class="view" href="{{url_for('display_post', pid=post.pid)}}">View Post</a></span>

    </div>

    <div class="post-block">
      <span class="custom-badge">{{post.tag}}</span>
      <h5 class="inline">{{post.title}}</h5>
    </div>

    <p>{{post.description}}</p>
    <div class="post-block">
      <p class="inline">{% if post.date %} Tentative Date: {{post.date.strftime('%A, %m/%d')}} {% endif %}</p>
      <p class="inline" style="margin-left: 20px;">{% if post.location %}Location: {{post.location}} {% endif %}</p>
      <p class="inline" style="margin-left: 20px;">{% if post.on_campus %}On-campus: {{post.on_campus}} {% endif %}</p>

      {% if post.professor %}<span class="badge badge-info">{{post.professor}} </span>{% endif %}
      {% if post.class %}<span class="badge badge-info" style="margin-right:8px;">{{post.class}} </span>{%
      endif %}
    </div>
  </div>
  {% endfor %}
  {% else %}
  <p>No results found</p>
  {% endif %}

</div>

<style>
  select {
    padding: 5px;
    font-size: 16px;
    height: 150px;
    overflow-y: auto;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    /* Border color */
    border-radius: 4px;
  }

  .btn-primary {
    padding-top: 3px;
  }
</style>

{% endblock %}

{% block end_scripts %}

<script>
  function toggleDropdown() {
    var dropdown = document.getElementById("typeDropdown");
    dropdown.style.display = (dropdown.style.display === 'none' || dropdown.style.display === '') ? 'block' : 'none';
  }
  
  // Function to automatically select the type for the type dropdown
  document.addEventListener('DOMContentLoaded', function() {
      var typeValue = "{{type}}"; 

      var typeDropdown = document.getElementById('typeDropdown');
      var options = typeDropdown.options;

      for (var i = 0; i < options.length; i++) {
          if (options[i].value === typeValue) {
              options[i].selected = true;
              break;
          }
      }
  });

  // Function to automatically select the major for the major dropdown
  document.addEventListener('DOMContentLoaded', function() {
      var majorValue = "{{major}}"; 

      var majorDropdown = document.getElementById('majorDropdown');
      var options = majorDropdown.options;

      for (var i = 0; i < options.length; i++) {
          if (options[i].value === majorValue) {
              options[i].selected = true;
              break;
          }
      }
  });

  // Function to automatically select the dateorder for the date_order dropdown
  document.addEventListener('DOMContentLoaded', function() {
      var dateValue = "{{date_order}}"; 

      var dateDropdown = document.getElementById('dateDropdown');
      var options = dateDropdown.options;

      for (var i = 0; i < options.length; i++) {
          if (options[i].value === dateValue) {
              options[i].selected = true;
              break;
          }
      }
  });
</script>
{% endblock %}