{% extends "base.html" %}
{% block head_stuff %}
<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" /> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
  integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock head_stuff %}


{% block content %}

<button class="btn btn-success"><a href="{{ url_for('create_post') }}" style="color:white">Create a Post</a></button>


<h2 name="stream" style="margin-top:20px">Stream</h2>
<form method=post action="{{url_for('stream')}}" class="filter">
  <div class="btn-group">
    <label for="type" class="inline" style="margin-right:10px;">Type</label>
    <select type="button" name="type" style="height:35px; align-items:center;" class="btn btn-primary dropdown-toggle"
      data-toggle="dropdown" aria-haspopup="true">
      <div class="dropdown-menu">
      <option class=" dropdown-item" name="drop" value="">Any Type</option>
        <option class="dropdown-item" name="drop" value="discuss_hw">Discuss HW</option>
        <option class="dropdown-item"  name="drop" value="social">Social</option>
        <option class="dropdown-item" name="drop" value="study_session">Study Session</option>
      </div>
    </select><br>
  </div>

  <div class="btn-group">
    <label for="tentative-date" class="inline" style="margin-left:10px; ">Date</label><br>
    <select type="button" name="dateorder" style="height:35px; align-items:center; margin-left: 10px; margin-right: 15px;" 
    class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
      <div class="dropdown-menu" name="datedrop">
      <option class=" dropdown-item" name="drop" value="">Any Tentative Date</option>
        <option class="dropdown-item" name="drop" value="early">Earliest to Latest</option>
        <option class="dropdown-item"  name="drop" value="late">Latest to Earliest</option>
      </div>
    </select><br>
  </div>

  <input type="submit" value="Filter" />
</form>



<div class="stream-container">
  {% if posts %}
  {% for post in posts %}
  <div class="post-container">
    <div class="post-block">
      <p class="inline">Posted by {% if post.studentname %}{{post.studentname}}{% else %} Unknown {% endif %} 
        {% if post.timestamp %}{{post.timestamp}}{% endif %}</p>
      {% if post.major1 %}<span class="badge badge-pill badge-primary">{{post.major}}</span>{% endif %}
      {% if post.major2_minor %}<span class="badge badge-pill badge-primary"
        style="margin-right:12px;">{{post.major2_minor}}</span>{% endif %}
      {% if post.id == session['id'] %}
      <span class="badge edit"><a href="{{url_for('update_post', pid=post.pid)}}">Edit Post</a></span>
      {% endif %}
      <span><a class="view" href="{{url_for('display_post', pid=post.pid)}}">View Post</a></span>

    </div>

    <div class="post-block">
      <span class="custom-badge">{{post.tag}}</span>
      <h5 class="inline">{{post.title}}</h5>
    </div>

    <p>{{post.description}}</p>
    <div class="post-block">
      <p class="inline">{% if post.date %}Tentative Date: {{post.date.strftime('%A, %m/%d')}} {% endif %}</p>
      <p class="inline" style="margin-left: 20px;">{% if post.location %}Location: {{post.location}} {% endif %}</p>
      <p class="inline" style="margin-left: 20px;">{% if post.on_campus %}On-campus: {{post.on_campus}} {% endif %}</p>


      {% if post.professor %}<span class="badge badge-info">{{post.professor}} </span>{% endif %}
      {% if post.class %}<span class="badge badge-info" style="margin-right:8px;">{{post.class}} </span>{%
      endif %}
    </div>
  </div>
  {% endfor %}
  {% else %}
  <p>No results found</p>
  {% endif %}

</div>

<style>
  select {
    padding: 5px;
    font-size: 16px;
    height: 150px;
    overflow-y: auto;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    /* Border color */
    border-radius: 4px;
  }

  .btn-primary {
    padding-top: 3px;
  }
</style>

{% endblock %}

{% block end_scripts %}

<script>
  function toggleDropdown() {
    var dropdown = document.getElementById("typeDropdown");
    dropdown.style.display = (dropdown.style.display === 'none' || dropdown.style.display === '') ? 'block' : 'none';
  }
  
</script>
{% endblock %}